*{
  margin: 0;
  padding: 0; 

}

   @keyframes change{
  		20%{background-image: url('https://wallpapercave.com/wp/wp2886902.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		30%{background-image: url('https://wallpapercave.com/wp/wp3519658.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		50%{background-image: url('https://wallpapercave.com/wp/wp3519655.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		75%{background-image: url('https://wallpapercave.com/wp/wp3324159.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		100%{background-image: url('https://wallpapercave.com/wp/wp3519658.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		125%{background-image: url('https://wallpapercave.com/wp/wp2379249.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		150%{background-image: url('https://wallpapercave.com/wp/wp2587083.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		
}
  body{
    animation: change 10s infinite;
   
  } 


  img{
  	border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
border-bottom-left-radius: 100px;
 color: grey;
  }

  nav{
  	overflow: hidden;
  
  }
  button{
  	display: inline-block;
  	float: left;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }
  button:hover{
   	 background-color: orange;
   	 box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 10px orange;

   }
   h1{
   color: white;
   }
   h2{
   color: white;
   }
nav button a{
	color: white;
	font-size: 20px;
  font-family: cursive;

}

input[type=text] {
  width: 430px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 90px;
  font-size: 16px;
  background-color: orange; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
border-bottom-left-radius: 100px;
}

input[type=text]:focus {
  width: 100%;
}

 .slideshow-container {
  width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.body-content{
  width: 100%;
  padding: 20px;
  text-align: justify;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 40px;

}
 .footer{
  width: 1400px;
  background: #00121b;
  display: block;
  box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 10px orange;
 object-position: center;
 }
  .inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
  }
  .footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  h3{
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;

  }
  .footer-items p{
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;

  }
  h4{
    margin: 10px 0px;
     color: grey;
     font-size: 16px;
     font-weight: lighter;
     text-transform: uppercase;


  }
  .border{
    height: 2px;
    width: 40px;
    background: #ff9800;

  }
  ul{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
  }
ul a{
  text-decoration: none;
  outline: none;
  color: #fff;
  transition:0.3s;

}
ul a:hover{
  color: #ff9800;

}
ul li {
  margin: 10px 0;
  height: 25px;

}
li i {
  margin-right: 20px;
}
.social-media{
  width: 100%;
  color: green;
  text-align: center;

}
.social-media a {
  text-decoration: none;

}
.social-media i {
  height: 15px;
  width: 15px;
  margin: 20px 5px;
  padding: 10px;
  color: green;
  border-radius: 50%;
  border: 1px solid grey;
  transition: 0.3s;

}

.social-media i:hover{
  background: grey;

}

.footer-bottom{
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
 
}

.content {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 80%;
  height:10%;
}
 
hr.rounded {
  border-top: 8px solid orange;
  border-radius: 10px;


