

   @keyframes change{
  		20%{background-image: url('https://wallpapercave.com/wp/wp2886902.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		30%{background-image: url('https://wallpapercave.com/wp/wp3519658.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		50%{background-image: url('https://wallpapercave.com/wp/wp3519655.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		75%{background-image: url('https://wallpapercave.com/wp/wp3324159.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		100%{background-image: url('https://wallpapercave.com/wp/wp3519658.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		125%{background-image: url('https://wallpapercave.com/wp/wp2379249.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		150%{background-image: url('https://wallpapercave.com/wp/wp2587083.jpg');
  			background-repeat: no-repeat;
  			background-attachment: fixed;
  		}
  		
}
  body{
    animation: change 10s infinite;
     margin:0;
  padding:0;

  } 


  img{
  	border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
border-bottom-left-radius: 100px;
 color: grey;
  }

  nav{
  	overflow: hidden;
  
  }
  button{
  	display: inline-block;
  	float: left;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }
  button:hover{
   	 background-color: orange;
   	 box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 10px orange;

   }
   h1{
   color: white;
   }
   h2{
   color: white;
   }
nav button a{
	color: white;
	font-size: 20px;
  font-family: cursive;

}

.search-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: orange;
	height: 40px;
	border-radius: 40px;
	padding: 5px 100px;

}
	.search-box:hover > .search-txt{
		width: 240px;
		padding: 0 6px;

	}
	.search-box:hover > .search-btn{
		background-color: white;

	}

	a .search-btn{
		color: grey;
		float: right;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: orange;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
	}
	
	.search-txt{
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 25px;
		transition: 0.5s;

	}

 .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h3{
	color: white;
	font-size: 30px;
}
p{
	color: white;
}

h4{
	color: cyan;
	alig
}
ul{
	display: inline; 
}
ul li a{
	color: red;
	align-content: center;
	display: inline;
}
h5{
	color: magenta;
}